@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #fffafa;
        --foreground: #171717;
    }
    body {
        color: var(--foreground);
        background: var(--background);
        font-family: Arial, Helvetica, sans-serif;
    }
}

@layer components {
  .card {
    @apply shadow-lg rounded-xl border p-2
  }
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1d1d;
    --foreground: #ededed;
  }
} */
